services:
  api:
    extends:
      file: docker-compose.base.yml
      service: base-api
    ports:
      - "127.0.0.1:9503:9503"
      - "12345:12345"
    command:
      - "-s=session"
  mysql:
    extends:
      file: docker-compose.base.yml
      service: base-mysql
    ports:
      - "127.0.0.1:9507:3306"
networks:
  default:
    name: telegram-api-server
